.ygtv-checkbox .ygtv-highlight0 .ygtvcontent{padding-left:1em;background:url([[pix:local_flavours|check0]]) no-repeat;}
.ygtv-checkbox .ygtv-highlight0 .ygtvfocus.ygtvcontent,.ygtv-checkbox .ygtv-highlight1 .ygtvfocus.ygtvcontent,.ygtv-checkbox .ygtv-highlight2 .ygtvfocus.ygtvcontent{background-color:#c0e0e0;}
.ygtv-checkbox .ygtv-highlight1 .ygtvcontent{padding-left:1em;background:url([[pix:local_flavours|check1]]) no-repeat;}
.ygtv-checkbox .ygtv-highlight2 .ygtvcontent{padding-left:1em;background:url([[pix:local_flavours|check2]]) no-repeat;}
#id_ingredients_tree .treenode{margin-left:2px;}