.ygtv-checkbox .ygtv-highlight0 .ygtvcontent{padding-left:1em;background:url(../local/flavours/pix/check0.gif) no-repeat;}
.ygtv-checkbox .ygtv-highlight0 .ygtvfocus.ygtvcontent,.ygtv-checkbox .ygtv-highlight1 .ygtvfocus.ygtvcontent,.ygtv-checkbox .ygtv-highlight2 .ygtvfocus.ygtvcontent{background-color:#c0e0e0;}
.ygtv-checkbox .ygtv-highlight1 .ygtvcontent{padding-left:1em;background:url(../local/flavours/pix/check1.gif) no-repeat;}
.ygtv-checkbox .ygtv-highlight2 .ygtvcontent{padding-left:1em;background:url(../local/flavours/pix/check2.gif) no-repeat;}
